{% extends 'base.html' %}

{% block page_title %}
    {{room.name}} 상세정보
{% endblock page_title %}

{% block content %}
    

    <div class="-mt-5 container max-w-full h-75vh flex mb-20">
        <div class="h-full w-1/2 bg-cover bg-center" style="background-image:url({{room.first_photo}})"></div>
        <div class="h-full w-1/2 flex flex-wrap">
            
            {% for photo in room.get_next_photos %}
                <div style="background-image:url({{photo.file.url}})" class="w-1/2 h-auto bg-cover bg-center border border-gray"></div>
            {% endfor %}
                
        </div>
    </div>

    <div class="container mx-auto flex justify-around pb-56">
        <div class="w-1/2">
            <div class='flex justify-between mb-5'>
                <div class="mb-5">
                    <h4 class="text-3xl font-medium mb-px">{{room.name}}</h4>
                    <span class="text-gray-500 font-light">{{room.city}}</span>
                </div>
                <a href="{{room.host.get_absolute_url}}" class="flex flex-col items-center">
                    {% include 'mixins/user_avatar.html' with user=room.host %}
                    <span class="mt-1 font-medium text-gray-400">{{room.host.first_name}}</span>
                </a>
            </div>
            <div class="border-section flex border-b border-gray-400 pb-6 mt-6">
                <span class="mr-5 font-ligth">{{room.room_type}}</span>
                <span class="mr-5 font-ligth">{{room.beds}} bed{{room.beds|pluralize}}</span>
                <span class="mr-5 font-ligth">{{room.bedrooms}} bedroom{{room.beddrooms|pluralize}}</span>
                <span class="mr-5 font-ligth">{{room.guests}} geust{{room.guests|pluralize}}</span>
            </div>
            <p class="border-section border-b border-gray-400 pb-6 mt-6">
                {{room.description}}
            </p>
            <div class="border-section border-b border-gray-400 pb-6 mt-6">
                <h4 class="font-medium text-lg mb-5">생활 편의시설</h4>
                
                {% for a in room.amenities.all %}
                    <li class="mb-1">{{a}}</li>
                {% endfor %}
                    
            </div>
            <div class="border-section border-b border-gray-400 pb-6 mt-6">
                <h4 class="font-medium text-lg mb-5">시설</h4>
                
                {% for f in room.facilities.all %}
                    <li class="mb-1">{{f}}</li>
                {% endfor %}
                    
            </div>
            <div class="border-section border-b border-gray-400 pb-6 mt-6">
                <h4 class="font-medium text-lg mb-5">규칙 사항</h4>
                
                {% for h in room.house_rules.all %}
                    <li class="mb-1">{{h}}</li>
                {% endfor %}
                    
            </div>
            <div class="border-section border-b border-gray-400 pb-6 mt-6">
                <h4 class="font-medium text-2xl mb-5">Reviews</h4>
                <div>
                    {{room.total_rating}} | {{room.reviews.count}} reviews{{room.reivews.count|pluralize}}
                </div>
            </div>
        </div>
        <div class="w-1/2">

        </div>
    </div>

{% endblock %}