{% extends 'base.html' %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}

    <div class="container mx-auto pb-10">
        <a href="http://www.miraeseum.or.kr/home/index.do">
            <div class="rounded-lg -mx-30 mx-auto bg-gray-800 h-96 mt-40  bg-cover bg-center" style="background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcnsNlk%2FbtqOleDhLZy%2FU1DO7vbUHoKVR8GWlT74Xk%2Fimg.jpg)">
    
            </div>
        </a>
        <div class="rounded-lg flex mx-auto  h-48 mt-10 mb-24">
            <div class="w-1/2 h-48 flex flex-col items-center  border-r border-gray-500 mr-2">
                <div class="text-2xl mb-1 font-bold">
                    <span>본 어플리케이션은</span>
                </div>
                <div class="text-2xl mb-1 font-bold">
                    <span>성남고령친화종합체험관 사업인</span>
                </div>
                <div class="text-2xl mb-1 font-bold">
                    <span>'고령친화산업 해커톤 공모전'의 결과물로</span>
                </div>
                <div class="text-2xl mb-1 font-bold">
                    <span>고령자의 삶의 질 향상을 위해</span>
                </div>
                <div class="text-2xl mb-1 font-bold">
                    <span>만들어진 어플리케이션 입니다.</span>
                </div>
            </div>
            <div class="w-1/2 h-48 flex justify-between items-center ml-2">
                <div class="p-5">
                    <a href="http://www.miraeseum.or.kr/home/index.do">
                        <div class="flex flex-col items-center">
                            <i class="fas fa-home text-8xl text-yellow-600 mb-5"></i>
                            <span class="text-2xl font-semibold">체험관 홈페이지 바로가기</span>
                        </div>
                    </a>
                </div>
                <div class="p-5">
                    <a href="https://www.youtube.com/channel/UCo2z8iYOZCgbQ-SL8lbsmqw">
                        <div class="flex flex-col items-center">
                            <i class="fab fa-youtube text-8xl text-red-600 mb-5"></i>
                            <span class="text-2xl font-semibold">체험관 유튜브 바로가기</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    
        </div>
        {{now}}
        
        <div class="flex flex-wrap -mx-30 mb-16">
            {% for room in rooms %}
                {% include 'mixins/room_card.html' with room=room %}
            {% endfor %}
        </div>
    
        <div class="flex items-center justify-center mx-auto container">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="text-pink-600">
                    <i class="fas fa-arrow-left"></i>
                </a>
            {% endif %}
    
            <span class="mx-3 font-medium text-xl">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
    
            {% if page_obj.has_next  %}
                <a href="?page={{page_obj.next_page_number}}" class="text-pink-600">
                    <i class="fas fa-arrow-right"></i>
                </a>
            {% endif %}
    
            
            
        </div>
    
        
        
        
    </div>
    

{% endblock content %}
    