{% extends 'base.html' %}

{% block page_title %}
    Post
{% endblock page_title %}

{% block content %}

    <div class="container mx-auto pb-10">
        <div class="rounded-lg -mx-30 mx-auto bg-gray-800 h-50vh mt-10 my-24 bg-cover bg-center" style="background-image:url(https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1035&q=80)">
    
        </div>


        
        <div class="flex flex-wrap -mx-30 mb-16">
            {% for blog in blogs %}
                {% include 'mixins/blog_card.html' with blog=blog %}
            {% endfor %}
        </div>
    
        <div class="flex items-center justify-center mx-auto container">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="text-pink-600">
                    <i class="fas fa-arrow-left"></i>
                </a>
            {% endif %}
    
            <span class="mx-3 font-medium text-xl">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
    
            {% if page_obj.has_next  %}
                <a href="?page={{page_obj.next_page_number}}" class="text-pink-600">
                    <i class="fas fa-arrow-right"></i>
                </a>
            {% endif %}
    
            
            
        </div>
    
        
        
        
    </div>
    

{% endblock content %}
    